[Unit]
Description=Viya Monitor hourly trigger
Requires=viya-monitor.service

[Timer]
OnCalendar=hourly
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target
