[Unit]
Description=Viya Monitor - Export timer (12:10 & 23:10 Beijing time)
Requires=viya-export.service

[Timer]
OnCalendar=*-*-* 04:10:00
OnCalendar=*-*-* 15:10:00
RandomizedDelaySec=120
Persistent=true

[Install]
WantedBy=timers.target
